apiVersion: v1
kind: Service
metadata:
  name: gym-api-service
  namespace: gym-api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: gym-api